# Ignore everything by default
*

# Unignore any file that has an extension
!*.*

# Unignore all directories so that files within them can be evaluated
!*/

# Explicitly ignore image formats (except .webp)
*.jpg
*.jpeg
*.png

# Ignore compiled binary
file-toolbox

# Ignore Firebase debug log
firebase-debug.log